body {
  margin: 0;
  padding: 80px 60px;
  background-color: #1C1C1C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#container {
  background-color: #1F2937;
  color: #FFFFFF;
  padding: 80px 50px 40px;
  width: 600px;
  margin: 0 auto;
}
#divider {
  border-bottom: 1px solid #273549;
  margin: 40px 0;
}

#pwd-one,
#pwd-two {
  color: #55F991;
  background-color: #273549;
  border: none;
  font-size: 16px;
  word-wrap: break-word;
  min-height: 20px;
  max-width: 220px;
}

.pwd-box {
  background-color: #273549;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
}

#pwds {
  display: flex;
  justify-content: space-around;
}

#pwd-btn {
  background-color: #10B981;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  text-shadow: 0 0 1px black;
}

#heading {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin: 0;
}

#sub-heading {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin: 0;
  color: #10B981;
}

#intro {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 15px;
}

#pwd-btn:hover {
  background-color: #1e8865;
}

#pwd-btn:active {
  background-color: #273549;
}

form {
  margin: 30px 0;
}

#pwd-length {
  font-size: 18px;
  width: 50px;
  text-align: center;
  border: 1px solid #10B981;
  border-radius: 6px;
  background-color: #273549;
  color: #FFFFFF;
  margin-left: 3px;
}

#customs {
  display: flex;
  justify-content: start;
}

#customs form {
  margin-right: 40px;
}

.btns {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin: 0 20px 30px 0;
  background-color: #273549;
  color: #FFFFFF;
}

.btns:hover {
  background-color:#10B981;
}

.btns:active {
  background-color: #1e8865;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-weight: 300;
  color: #c2c2c2b0;
}

#mode-btn {
  background-color: #273549;
  color: #c2c2c2b0;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  width: 80px;
}